# Configfile example conifiguration

# comment

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL
    LOGLEVEL = DEBUG
   # LOGFILE = S02mqtt.log
    LOGMODE= SYSLOG
    LOGSERVER= 192.168.2.50



#[BROKER]
#    HOST = 192.168.2.50
#    PORT = 1883
#    SUBSCRIBE = /OPENHAB/CALL
#    PUBLISH = /OPENHAB/RASP/

[BROKER]
  HOST= 192.168.2.50
  PORT= 1883
  PUBLISH= /OPENHAB/RASP
  SUBSCRIBE = /MYSTROM

[BULP]
  [[192.168.2.112]]
    MAC = 5CCF7FA0B919

[SWITCH]
  [[192.168.2.51]]
  [[192.168.2.52]]




